extends layout 

block content 
  h1(class = 'container-fluid p-5 bg-success text-warning text-center')= title 

  if (toShow == null) 
    h2 No instance to Update View 
  else 
    - let objectId = toShow._id
    - let University_Id = toShow.University_Id
    - let University_Name = toShow.University_Name 
    - let Capacity = toShow.Capacity 
    - let Location = toShow.Location 
    - let State = toShow.State 
    - let Country = toShow.Country   

    div.row(class='d-flex justify-content-center p-2 bg-light text-center text-danger') 
      div.mr-1(class = "p-2 flex-fill") Object ID is #{objectId} 
    - let actionId = "/resource/universities/" + objectId 
    form(id='UniversityForm' class='justify-content-center p-2 bg-light text-center text-dark',action= actionId, method="PUT")
      div.form-group
        label.UniverrsityAttr(for='University_Id' style="margin-right: 5px;") University ID
        input#University_Id(type='number', name='University_Id' value = University_Id  style="width:500px;")
      br
      div.form-group 
        label.UniverrsityAttr(for='University_Name' style="margin-right: 5px;") University Name
        input#University_Name(type='text', name='University_Name' value = University_Name style="width:500px;") 
      br
      div.form-group 
        label.UniverrsityAttr(for='Capacity' style="margin-right: 5px;") Capacity
        input#Capacity(type='number', name='Capacity' value = Capacity  style="width:500px;") 
      br
      div.form-group 
        label.UniverrsityAttr(for='Location' style="margin-right: 5px;") Location
        input#Location(type='text', name='Location' value = Location  style="width:500px;") 
      br
      div.form-group 
        label.UniverrsityAttr(for='State' style="margin-right: 5px;") State
        input#State(type='text', name='State' value = State style="width:500px;")  
      br
      div.form-group 
        label.UniverrsityAttr(for='Country' style="margin-right: 5px;") Country 
        input#Country(type='text', name='Country' value = Country style="width:500px;")  
      br
      input(class="btn btn-success" type="submit") 


  script. 
    document.forms['UniversityForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 